.content{position:relative;letter-spacing:1px}.content:hover{cursor:url(/split-cursor.svg) 12 4,auto}.content:hover span{display:inline-block;width:2px;height:16px;background-color:#ffbc17;position:absolute}
